*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: #ffffff;
    color: #5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    /* text-rendering: optimizeLegibility; */
}

body{
    background-image: url("../img/background4.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
  }

.logo{
    width: 350px;
    margin-left: 70px;
    margin-top: -50px;
    float: left;
}

.nav-main{
    float: right;
}